# Enviroment File:
# Remove "example" from file name to make the file active -> ".env"

# Database:
API_BASE = "http://127.0.0.1:8000"
API_POST_url = "/status/stations"
API_WEATHER_POST = "/weather/stations"

# Weather Underground Base Url:
WU_BASE_URL = "https://preview.wunderground.com/dashboard/pws/"

# Scrape Intervals
STATUS_SCRAPER_INTERVAL_SECONDS = 900
WEATHER_SCRAPER_INTERVAL_SECONDS = 60

# Security
SECRET_KEY = "some-real-long-password"
POSTGRES_PASSWORD=use-a-long-random-password
SCRAPER_API_KEY = "super-secure-key"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
ALGORITHM = "HS256"

# Email Setup
SERVER = "smtp.gmail.com"
PORT = 587
USERNAME = "example@exmaple.com"
PASSWORD = "Super-secure password" # If using Google gmail, 'App Password'
FROM_EMAIL = "KrupamC's Mesonet Notifications <example@example.com>"

# Time Infomation:
TIMEZONE = "America/New_York"
TIME_ZONE_NAME = "EST"
PYTZ_TIMEZONE = "America/New_York"

# Scraping Retry Logic
CONSECUTIVE_OFFLINE = 3
MAX_RETRIES = 5
BACKOFF_FACTOR = 3

# Monthly Email Time/Day
MONTHLY_EMAIL_DAY = 1
MONTHLY_EMAIL_HOUR = 8
ERROR_EMAIL_COOLDOWN = 60 # MINS

# Reminders
DAYS_BEFORE_REMIND = 7

# Weather Stations:
STATIONS = {
    "KNJEXAMPLE1": "Island Beach State Park Bathhouse #1",
}

# Station Status History Query Default Values:
DEFAULT_HISTORY = 20
LIMIT_HISTORY = 1000

# Temperature Widget:
M_TEMP_MAX = 40 # C
M_TEMP_MIN = 0 
TEMP_MAX = 120 # F
TEMP_MIN = -10

# Pressure Widget:
PRESSURE_MIN = 29.12
PRESSURE_MID = 29.92
PRESSURE_MAX = 30.72
ANGLE_MAX = 120
ANGLE_MIN = -120