{% extends "layout.html" %}

{% block content %}
    <!-- Load homepage picture -->
    <img src="{{ url_for('static', path='/icons/main_page.png') }}" alt="Jersey Shore Mesonet" class="main_page_img">
    
    <div class="main_page">
        <div class="main_p_container" style="padding-top: 50px">

            <!-- Keep images and text side-by-side -->
            <div class="main_p_side_by">
                <div>
                    <h1 class="text_title">Jersey Shore Mesonet: Precision Weather Tracking for Barnegat Bay</h1>
                    <p class="text_subtitle">When it comes to understanding and preparing for local weather, accurate, up-to-the-minute data is crucial—especially with the rise in severe weather events over the past 20 years. Yet, did you know the nearest official weather station to the Jersey Shore is in Mount Holly? That’s a long way off, which leaves significant data gaps. Fortunately, the Jersey Shore Mesonet is here to bridge those gaps.</p>
                    <p class="text_subtitle">Save Barnegat Bay proudly supports and partners in Dr. Michael Folmer’s Jersey Shore Mesonet Project, an independent, community-driven network of specialized weather stations installed across the Jersey Shore. These stations, hosted by local partners, gather precise data on wind speed, rainfall, and other essential weather conditions to give us a detailed, real-time view of the region’s unique weather patterns.</p>
                    <p class="text_subtitle">Dr. Michael Folmer, is a dedicated meteorologist and forecaster for the NWS Ocean Prediction Center, Weather Prediction Center, Tropical Analysis, and the Forecast Branch of the National Hurricane Center. Originally from Toms River, Dr. Folmer initiated this project to enhance local safety and provide his community with critical, localized weather insights that it has been sorely lacking. Each station’s data is meticulously reviewed by Dr. Folmer and then made publicly available, helping residents, boaters, and emergency services stay informed by creating a clearer and more accessible database for our local weather.</p>
                </div>
                <img src="{{ url_for('static', path='/icons/main_page_1.png' )}}" alt="Jersey Shore Flooding" class="main_page_small_img">
            </div>

            <div class="main_p_side_by">
                <div>
                    <h1 class="text_title">Current Mesonet Stations</h1>
                    <p class="text_subtitle">{{ num_of_stations }} Jersey Shore Mesonet stations currently contribute to this network, including:</p>
                    <div class="text_subtitle">
                        <ul>
                            {% for station in stations %}
                                <li>{{ station.station_name }} - {{ station.station_id }}</li>
                            {% endfor %}
                        </ul>
                        <a href="/stations" class="main_p_button">Check them out!</a>
                    </div>
                </div>
                <img src="{{ url_for('static', path='/icons/main_page_2.png' )}}" alt="Flooded LBI" class="main_page_small_img">
            </div>
            
            <div class="main_p_side_by">
                <div>
                    <h1 class="text_title">Get Involved!</h1>
                    <p class="text_subtitle">With every new station, we gain a clearer, safer picture of local weather. Interested in joining the Mesonet network? Email outreach@savebarnegatbay.org to learn more.</p>
                    <p></p>
                    <p class="text_subtitle">Stay connected to the weather in your backyard and be a part of the solution with the Jersey Shore Mesonet.</p>
                </div>
                <img src="{{ url_for('static', path='/icons/main_page_3.png')}}" alt="Weather Station" class="main_page_small_img">
            </div>
            

            <div class="main_p_side_by">
                <div>
                    <h1 class="text_title">The Mesonet Web System</h1>
                    <p class="text_subtitle">Put stuff here...please</p>
                </div>
                <img src="{{ url_for('static', path='/icons/main_page_5.png' )}}" alt="Jersey Shore Flooding" class="main_page_small_img">
            </div>
        </div>
    </div>
{% endblock %}