{% extends "layout.html" %}

{% block content %}
    <div class="login_page">
        <div class="login_card">
            <h1>Login!</h1>
            <h3>Log in to gain access to Station Dashboard<br>with more detailed infomation.</h3>

            <!-- If there is error, say it-->
            {% if error %}
                <p class="login_error">{{ error }}</p>
            {% endif %}

            <form action="/login" method="post" class="login_form">
                <label for="username">Username:</label>
                <input type="text" placeholder="Enter Username" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" placeholder="Enter Password" id="password" name="password" required>
                <button type="submit">Log In!</button>

                <div class="login_links">
                    <a href="/login?error=forgot" class="login_option_button">Forgot password?</a>
                    <a href="/register" class="login_option_button">Register</a>
                </div>  
            </form>
        </div>
    </div>
{% endblock %}