{% extends "layout.html" %}

{% block content %}

    <div class="login_page">

        
        <div class="login_card">
            <h1>Would you like to register?</h1>
            <h3>If you are a a station owner, please create a<br>account and reach out to example@example.com to get dashboard access.</h3>

            <!-- If there is any error, mention it-->
            {% if error %}
                <p class="login_error">{{ error }}</p>
            {% endif %}

            <form action="/register" method="post" class="login_form">
                <label for="username">Username:</label>
                <input type="text" placeholder="Enter Username" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" placeholder="Enter Password" id="password" name="password" required>
                <button type="submit">Register</button>
                <span>Did you mean to <a href="/login">log in?</a></span>
            </form>
        </div>
    </div>

{% endblock %}