{% extends "layout.html" %}

{% block content %}
<div class="station_card_content">
    <div class="station_list">
            <!-- List every station if public and not in maintenance -->
            {% for station in stations %}
                {% if station.is_public and not station.is_in_maintenance %}
                <a href="/stations/public/{{station.station_id}}" class="station_card">
                    <h2>{{ station.station_name }}</h2>
                    <h3>{{ station.station_id }}</h3> <!-- List id as well-->
                </a>
                {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}