{% extends "layout.html" %}

{% block content %}

    <!-- Menu Bar -->
    <div class="graph_bar">
        <nav class="graph_nav">
            <a href="/graph" class="graph_nav_item {% if active_page == 'graph' %}active{% endif %}">GRAPHING</a>
            <a href="/graph/analysis" class="graph_nav_item {% if active_page == 'analysis' %}active{% endif %}">ANALYSIS</a>
            <a href="/graph/test" class="graph_nav_item {% if active_page == 'test' %}active{% endif %}">TESTS</a>
        </nav>
    </div>

    <div class="analysis_page">
        <div class="graph_container">
            
            <!--Page Info-->
            <h1 class="graph_title">Statistical Testing</h1>
            <p class="graph_subtitle">Choose a test, station, variable, unit, and time range to run a test.</p>
        
            <!-- Form -->
            <form method="get" action="/graph/test" class="graph_form_card">
                    <!-- Choose the Test -->
                    <div class="graph_form_row">
                        <label for="test" class="graph_label">Test:</label>

                        <select name="test" id="test" class="graph_select" onchange="toggleTest()" required>
                            <option value="">Choose a Test to Perform:</option>

                            <option value="linear_regression" {% if selected_test == "linear_regression" %}selected{% endif %}>Linear Regression - Model the relationship between two variables</option>
                            <option value="t_test" {% if selected_test == "t_test" %}selected{% endif %}>T-Test (Independent Two Sample) - Compare the means of two groups (same variable)</option>
                            <option value="anova" {% if selected_test == "anova" %}selected{% endif %}>ANOVA (One-Way) - Compare the means of three or more groups (same variable)</option>
                        </select>
                    </div>

                    <div id="linear_regression_group" class="graph_form_row">
                        <!-- Select Station -->
                        <div class="graph_form_row">
                            <label for="station_id" class="graph_label">Station:</label>
                            <select name="station_id" id="station" class="graph_select">
                                <option value="">Choose a station:</option>
                                {% for station in stations %}
                                <option value="{{ station.station_id }}"{% if selected_station == station.station_id %}selected{% endif %}>{{ station.station_id}} - {{ station.station_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Variables-->
                        <div class="graph_form_row">
                            <!-- X -->
                            <label for="x_variable" class="graph_label">X Variable:</label>
                            <select name="x_variable" id="x_variable" class="graph_select">
                                <option value="">Choose a Variable:</option>
                                {% for key, label in allowed_variables.items() %}
                                <option value="{{ key }}"{% if selected_x_variable == key %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                            <!-- y -->
                            <label for="y_variable" class="graph_label">Y Variable:</label>
                            <select name="y_variable" id="y_variable" class="graph_select">
                                <option value="">Choose a Variable:</option>
                                {% for key, label in allowed_variables.items() %}
                                <option value="{{ key }}"{% if selected_y_variable == key %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Graph Title-->
                        <div class="graph_form_row">
                            <label for="title" class="graph_label">Regression Graph Title:</label>
                            <input type="text" id="title" name="title" class="graph_input" placeholder="Temperature, Wind, Pressure, etc." value="{{ selected_title or '' }}"> 
                        </div>
                        
                    </div>

                    <div id="t_test_group" class="graph_form_row">
                        <!-- Variable -->
                        <div class="graph_form_row">
                            <label for="variable" class="graph_label">Outcome Variable</label>
                            <select name="variable" id="t_variable" class="graph_select">
                                <option value="">Choose a Variable</option>
                                {% for key, label in allowed_variables.items() %}
                                <option value="{{ key }}"{% if selected_variable == key %}selected{% endif %}>{{ label }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Select Station A -->
                        <div class="graph_form_row">
                            <label for="station_id_a" class="graph_label">Station A:</label>
                            <select name="station_id_a" id="t_station_id_a" class="graph_select">
                                <option value="">Choose a station:</option>
                                {% for station in stations %}
                                <option value="{{ station.station_id }}"{% if selected_station_a == station.station_id %}selected{% endif %}>{{ station.station_id }} - {{ station.station_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Select Station B -->
                        <div class="graph_form_row">
                            <label for="station_id_b" class="graph_label">Station B:</label>
                            <select name="station_id_b" id="t_station_id_b" class="graph_select">
                                <option value="">Choose a station:</option>
                                {% for station in stations %}
                                <option value="{{ station.station_id }}"{% if selected_station_b == station.station_id %}selected{% endif %}>{{ station.station_id}} - {{ station.station_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div id="anova_group" class="graph_form_row">
                        <!-- Variable -->
                        <div class="graph_form_row">
                            <label for="variable" class="graph_label">Outcome Variable</label>
                            <select name="variable" id="a_variable" class="graph_select">
                                <option value="">Choose a Variable</option>
                                {% for key, label in allowed_variables.items() %}
                                <option value="{{ key }}"{% if selected_variable == key %}selected{% endif %}>{{ label }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Select Station A -->
                        <div class="graph_form_row">
                            <label for="station_id_a" class="graph_label">Station A:</label>
                            <select name="station_id_a" id="a_station_id_a" class="graph_select">
                                <option value="">Choose a station:</option>
                                {% for station in stations %}
                                <option value="{{ station.station_id }}"{% if selected_station_a == station.station_id %}selected{% endif %}>{{ station.station_id}} - {{ station.station_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Select Station B -->
                        <div class="graph_form_row">
                            <label for="station_id_b" class="graph_label">Station B:</label>
                            <select name="station_id_b" id="a_station_id_b" class="graph_select">
                                <option value="">Choose a station:</option>
                                {% for station in stations %}
                                <option value="{{ station.station_id }}"{% if selected_station_b == station.station_id %}selected{% endif %}>{{ station.station_id}} - {{ station.station_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Select Station C -->
                        <div class="graph_form_row">
                            <label for="station_id_c" class="graph_label">Station C:</label>
                            <select name="station_id_c" id="a_station_id_c" class="graph_select">
                                <option value="">Choose a station:</option>
                                {% for station in stations %}
                                <option value="{{ station.station_id }}"{% if selected_station_c == station.station_id %}selected{% endif %}>{{ station.station_id}} - {{ station.station_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>  
                    
                    <!-- Range Mode -->
                    <div class="graph_form_row">
                        <label for="range_mode" class="graph_label">Range Mode:</label>
                        <select name="range_mode" id="range_mode" class="graph_select" onchange="toggleRangeMode()">
                            <option value="relative" {% if selected_range_mode == "relative" %}selected{% endif %}>Relative Range</option>
                            <option value="dates" {% if selected_range_mode == "dates" %}selected{% endif %}>Date Range</option>
                        </select>
                    </div>

                    <!-- Relative Range -->
                    <div id="relative_range_group" class="graph_form_row">
                        <label class="graph_label">Relative Range:</label>

                        <div class="graph_range_row">
                            <!-- Number -->
                            <input type="number" id="range_value" name="range_value" class="graph_input" min="1" max="365" step="1" value="{{ selected_range_value or 24 }}">

                            <!-- Units -->
                            <select name="range_unit" id="range_unit" class="graph_select">
                                <option value="hours" {% if selected_range_unit == "hours" %}selected{% endif %}>Hours</option>
                                <option value="days" {% if selected_range_unit == "days" %}selected{% endif %}>Days</option>
                                <option value="weeks" {% if selected_range_unit == "weeks" %}selected{% endif %}>Weeks</option>
                                <option value="months" {% if selected_range_unit == "months" %}selected{% endif %}>Months</option>
                                <option value="years" {% if selected_range_unit == "years" %}selected{% endif %}>Years</option>
                            </select>
                        </div>

                        <!-- Range Presets -->
                        <div class="graph_form_row">
                            <label class="graph_label">Range Presets:</label>
                            <div class="graph_preset_row">
                                <button type="button" class="graph_preset_button" onclick="applyTimePreset('day')">Past 24 Hours</button>
                                <button type="button" class="graph_preset_button" onclick="applyTimePreset('week')">Past Week</button>
                                <button type="button" class="graph_preset_button" onclick="applyTimePreset('month')">Past Month</button>
                                <button type="button" class="graph_preset_button" onclick="applyTimePreset('sixmonth')">Past 6 Months</button>
                                <button type="button" class="graph_preset_button" onclick="applyTimePreset('year')">Past Year</button>
                            </div>
                        </div>
                    </div>

                    <!-- Date Range -->
                    <div id="date_range_group" class="graph_form_row">
                        <label class="graph_label">Date Range:</label>
                        <div class="graph_range_row">
                            <!-- Start -->
                            <input type="date" id="start_date" name="start_date" class="graph_input" value="{{ selected_start_date or '' }}">

                            <!-- End -->
                            <input type="date" id="end_date" name="end_date" class="graph_input" value="{{ selected_end_date or '' }}">
                        </div>

                        <!-- Date Preset -->
                        <div class="graph_form_row">
                            <label class="graph_label">Date Presets:</label>
                            <div class="graph_preset_row">
                                <button type="button" class="graph_preset_button" onclick="applyDatePreset('today')">Today</button>
                                <button type="button" class="graph_preset_button" onclick="applyDatePreset('week')">Last 7 Days</button>
                                <button type="button" class="graph_preset_button" onclick="applyDatePreset('month')">Last 30 Days</button>
                                <button type="button" class="graph_preset_button" onclick="applyDatePreset('sixmonth')">Last 6 Months</button>
                                <button type="button" class="graph_preset_button" onclick="applyDatePreset('year')">Last Year</button>
                            </div>
                        </div>
                    </div>

                    <!-- Units -->
                    <div class="graph_form_row">
                        <label for="units" class="graph_label">Units:</label>
                        <select name="units" id="units" class="graph_select">
                            <!-- Imperial-->
                            <option value="imperial" {% if selected_units == "imperial" %}selected{% endif %}>Imperial</option>

                            <!-- Metric -->
                            <option value="metric" {% if selected_units == "metric" %}selected{% endif %}>Metric</option>
                        </select>
                    </div>

                    <!-- Submit -->
                    <div class="analysis_button_row">
                        <!-- Submit -->
                        <button type="submit" class="graph_submit_button">Run the Test</button>
                        <a href="/graph/test" class="graph_clear_button">Clear Test</a>
                    </div>
                    
                
            </form>
            
            <!-- LR -->
            {% if graph_url %}
            <div class="graph_preview_card">
                <h2 class="graph_preview_title" >Linear Regression Graph Preview:</h2>
                <img src="{{ graph_url }}" alt="Weather Graph" class="graph_item">
                <p></p>
                <a href="{{ graph_url }}" title="Download Graph" id="graph" download="{{selected_station}}_{{selected_title}}_(Past_{{selected_range_value}}_hours).png" class="graph_submit_button">Download Graph</a>
                <a href="{{ csv_url }}" title="Download CSV" download="{{selected_station}}_{{selected_title}}_(Past_{{selected_range_hour}}_hours).csv" class="graph_submit_button">Download Graph CSV</a>
                
            </div>

            <!-- T Test-->
            {% elif t_test %}
            <div class="analysis_summary_card">
                <!-- Title -->
                <div class="analysis_summary_header">
                    <h2 class="analysis_section_title">Independent samples T-Test of {{ t_test["variable_label"] }} at {{ t_test["station_a_name"] }} and {{ t_test["station_b_name"] }}:</h2>
                    <p class="analysis_section_subtitle">{{ range_title }}</p>
                </div>

                <div class="analysis_stats_grid">
                    <!-- P Value -->
                    <div class="analysis_stat_card">
                        <div class="analysis_stat_label">P-Value:</div>
                        <div class="analysis_stat_value">{{ t_test["p_value"] }}</div>
                        <div class="analysis_stat_meta">Measures Probability of Significance (Smaller is Better)</div>
                    </div>

                    <!-- T Value -->
                    <div class="analysis_stat_card">
                        <div class="analysis_stat_label">Test Statistic:</div>
                        <div class="analysis_stat_value">{{ t_test["t_stat"] }}</div>
                        <div class="analysis_stat_meta">Quantifies differences a group. Distance from zero show differences size.</div>
                    </div>
                </div>

                <!-- Download CSV-->
                <p></p>
                <a href="{{ csv_url }}" title="Download CSV" download="{{selected_station}}_{{selected_title}}_(Past_{{selected_range_hour}}_hours).csv" class="graph_submit_button">Download Graph CSV</a>
            </div>

            <!-- Anova -->
            {% elif anova %}
                <div class="analysis_summary_card">
                    <!-- Title -->
                    <div class="analysis_summary_header">
                        <h2 class="analysis_summary_header">One-Way Anova of {{ anova["variable_label" ] }} at {{ anova["station_a_name"] }}, {{ anova["station_b_name"] }}, and {{ anova["station_c_name"] }}</h2>
                        <p class="analysis_section_subtitle">{{ range_title }}</p>
                    </div>

                    <div class="analysis_stats_grid">
                        <!-- P Value-->
                        <div class="analysis_stat_card">
                            <div class="analysis_stat_label">P-Value:</div>
                            <div class="analysis_stat_value">{{ anova["p_value"] }}</div>
                            <div class="analysis_stat_meta">Measures Probability of Significance (Smaller is Better)</div>
                        </div>

                        <div class="analysis_stat_card">
                            <div class="analysis_stat_label">F-Statistic:</div>
                            <div class="analysis_stat_value">{{ anova["f_stat"] }}</div>
                            <div class="analysis_stat_meta">Quantifies differences between groups. Distance from zero show differences size.</div>
                        </div>
                    </div>

                    <!-- Download CSV -->
                    <p></p>
                    <a href="{{ csv_url }}" title="Download CSV" download="{{selected_station}}_{{selected_title}}_(Past_{{selected_range_hour}}_hours).csv" class="graph_submit_button">Download Graph CSV</a>
                </div>

            {% else %}
            <div class="analysis_empty_card">
                <h2 class="analysis_section_title">No Results Yet</h2>
                <p class="analyssi_empty_text">Select Choose a test, station, variable, unit, and time range and click "Test" to run a test.</p>
            </div>
            {% endif %}
        </div>
    </div>

<script>

    /* Toggle inputs for each Test */
    function toggleTest() {
        const test = document.getElementById("test");

        /* Each group */
        const lRegressionGroup = document.getElementById("linear_regression_group");
        const tTestGroup = document.getElementById("t_test_group");
        const anovaGroup = document.getElementById("anova_group");

        /* Inputs */
        const xVariable = document.getElementById("x_variable");
        const yVariable = document.getElementById("y_variable");
        const title = document.getElementById("title");
        const station = document.getElementById("station_id");

        const tVariable = document.getElementById("t_variable");
        const tStationA = document.getElementById("t_station_id_a");
        const tStationB = document.getElementById("t_station_id_b");

        const aVariable = document.getElementById("a_variable");
        const aStationA = document.getElementById("a_station_id_a");
        const aStationB = document.getElementById("a_station_id_b");
        const aStationC = document.getElementById("a_station_id_c");

        /* Start off* */
        lRegressionGroup.style.display = "none";
        tTestGroup.style.display = "none";
        anovaGroup.style.display = "none";

        if (test.value === "linear_regression") {
            /* Make Visable */
            lRegressionGroup.style.display = "flex";
            lRegressionGroup.style.flexDirection = "column";

            /* Invisable */
            tTestGroup.style.display = "none";
            anovaGroup.style.display = "none";

            xVariable.disabled = false;
            yVariable.disabled = false;
            title.disabled = false;
            station.disable = false;

            tVariable.disabled = true;
            tStationA.disabled = true;
            tStationB.disabled = true;

            aVariable.disabled = true;
            aStationA.disabled = true;
            aStationB.disabled = true;
            aStationC.disabled = true;

            /* Require */
            xVariable.required = true;
            yVariable.required = true;
            title.required = true;
            station.required = true;
        }

        else if (test.value === "t_test") {
            tTestGroup.style.display = "flex";
            tTestGroup.style.flexDirection = "column";

            lRegressionGroup.style.display = "none";
            anovaGroup.style.display = "none";

            xVariable.disabled = true;
            yVariable.disabled = true;
            title.disabled = true;
            station.disabled = true;

            tVariable.disabled = false;
            tStationA.disabled = false;
            tStationB.disabled = false;

            aVariable.disabled = true;
            aStationA.disabled = true;
            aStationB.disabled = true;
            aStationC.disabled = true;

            tVariable.required = true;
            tStationA.required = true;
            tStationB.required = true;
        }

        else if (test.value === "anova") {
            anovaGroup.style.display = "flex";
            anovaGroup.style.flexDirection = "column";

            lRegressionGroup.style.display = "none";
            tTestGroup.style.display = "none";

            xVariable.disabled = true;
            yVariable.disabled = true;
            title.disabled = true;
            station.disabled = true;

            tVariable.disabled = true;
            tStationA.disabled = true;
            tStationB.disabled = true;

            aVariable.disabled = false;
            aStationA.disabled = false;
            aStationB.disabled = false;
            aStationC.disabled = false;
            
            aVariable.required = true;
            aStationA.required = true;
            aStationB.required = true;
            aStationC.required = true;
        }
    }

    /* Relative Range Time Preset */
    function applyTimePreset(presetName) {
        const presetMap = {
            day: [24, "hours"],
            week: [7, "days"],
            month: [1, "months"],
            sixmonth: [6, "months"],
            year: [1, "years"]

        };

        /* Select it */
        const selected = presetMap[presetName] || [];
        const mode = document.getElementById("range_mode")

        if (mode.value == "relative") {
            const rangeValue = document.getElementById("range_value");
            const rangeUnit = document.getElementById("range_unit");

            rangeValue.value = selected[0];
            rangeUnit.value = selected[1];
        }
    }

    /* Sanitise Date as a string */
    function formatDateForInput(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, "0");
        const day = String(date.getDate()).padStart(2, "0");
        return `${year}-${month}-${day}`;
    }

    /* Date Presets */
    function applyDatePreset(presetName) {
        const mode = document.getElementById("range_mode").value;

        /* Values to change */
        const startDate = document.getElementById("start_date");
        const endDate = document.getElementById("end_date");

        const today = new Date();
        const end = new Date(today);
        const start = new Date(today);

        /* Preset */
        if (mode === "dates") {
            if (presetName === "today") {
                startDate.value = formatDateForInput(today);
                endDate.value = formatDateForInput(today);
            } else if (presetName === "week") {
                start.setDate(today.getDate() - 7);
                startDate.value = formatDateForInput(start);
                endDate.value = formatDateForInput(end);
            } else if (presetName === "month") {
                start.setMonth(today.getMonth() - 1);
                startDate.value = formatDateForInput(start);
                endDate.value = formatDateForInput(end);
            } else if (presetName === "sixmonth") {
                start.setMonth(today.getMonth() - 6);
                startDate.value = formatDateForInput(start);
                endDate.value = formatDateForInput(end);
            } else if (presetName === "year") {
                start.setFullYear(today.getFullYear() - 1);
                startDate.value = formatDateForInput(start);
                endDate.value = formatDateForInput(end);
            }
        }
    }

    /* Change Range Mode */
    function toggleRangeMode() {
        const mode = document.getElementById("range_mode").value;

        const relativeGroup = document.getElementById("relative_range_group");
        const dateGroup = document.getElementById("date_range_group");

        const rangeValue = document.getElementById("range_value");
        const rangeUnit = document.getElementById("range_unit");
        const startDate = document.getElementById("start_date");
        const endDate = document.getElementById("end_date");

        /* Only show widgets based on range mode */
        if (mode === "relative") {
        relativeGroup.style.display = "flex";
        relativeGroup.style.flexDirection = "column";
        dateGroup.style.display = "none";

        rangeValue.disabled = false;
        rangeUnit.disabled = false;
        startDate.disabled = true;
        endDate.disabled = true;

        /* Make certain values reqeuired */
        rangeValue.required = true;
        rangeUnit.required = true;
        startDate.required = false;
        endDate.required = false;
        }
         
        else {
        relativeGroup.style.display = "none";
        dateGroup.style.display = "flex";
        dateGroup.style.flexDirection = "column";

        rangeValue.disabled = true;
        rangeUnit.disabled = true;
        startDate.disabled = false;
        endDate.disabled = false;

        rangeValue.required = false;
        rangeUnit.required = false;
        startDate.required = true;
        endDate.required = true;
    }
}

    /* Listener */
    document.addEventListener("DOMContentLoaded", function () {
    toggleRangeMode();
    toggleTest();

    const startDate = document.getElementById("start_date");
    const endDate = document.getElementById("end_date");

    if (startDate && endDate) {
        startDate.addEventListener("change", function () {
            endDate.min = startDate.value;
        });
    }
});

</script>

{% endblock %}