{% extends "layout.html" %}

{% block content %}

    <!-- Menu Bar -->
    <div class="graph_bar">
        <nav class="graph_nav">
            <a href="/graph" class="graph_nav_item {% if active_page == 'graph' %}active{% endif %}">GRAPHING</a>
            <a href="/graph/analysis" class="graph_nav_item {% if active_page == 'analysis' %}active{% endif %}">ANALYSIS</a>
            <a href="/graph/test" class="graph_nav_item {% if active_page == 'test' %}active{% endif %}">TESTS</a>
        </nav>
    </div>

    <div class="analysis_page">
        <div class="graph_container">
            
            <!--Page Info-->
            <h1 class="graph_title">Statistical Testing</h1>
            <p class="graph_subtitle">Choose a test, station, variable, unit, and time range to perform analysis.</p>
        
            <!-- Form -->
            <form method="get" action="/graph/test" class="graph_form_card">

                
            </form>
        
        </div>
    </div>


{% endblock %}