
/* Top Page */
.top_red_bar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    z-index: 1000;
    background-color: #d63c45  
}

.top_red_bar_text {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold
}

.top_menu_bar {
    position: fixed; 
    top: 60px;
    left: 0%;
    justify-content: space-between; 
    width: 100%; 
    height: 120px;
    display: flex; 
    align-items: center; 
    z-index: 1001;
    background-color: white;
}

/* Menu Bar */
.logo_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    margin: 0;
    
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav_item {
    text-decoration: none;
    color: #111;
    font-size: 16px;
    font-weight: 450;
    padding: 18px 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.nav_item:hover {
    color: white;
    background-color: #005baa;
    transform: translateY(-3px)
}

.nav_item.active {
    background-color: #005baa;
    color: white
}

/* Stations List Bar */

.station_list {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 20px 24px;
}

.station_card {
    display: block;
    text-decoration: none;
    color: #111;
    font-size: 14px;
    padding: 12px;
    width: fit-content;
    border-radius: 18px;
    border: 3px solid #d3cfcf;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.station_card:hover {
    color: white;
    background-color: #005baa;
}

.station_card_content {
    padding-left: 25px;
}
.station_card h2,
.station_card h3 {
    margin: 0;
}

.station_list_text {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: absolute;
    left: 0%;
    top: 40%;
}

/* Main Page */

.main_page_img {
    display: block;
    align-items: center;
    text-decoration: none;
    left: 0%;
    top: 120px;
    width: 100%;
    height: 700px;
}

/*---Public Dashboard---*/

.status_bar {
    position: fixed;
    display: flex;
    top: 230px;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    z-index: 1003;
    background-color: white;
    color: black;
    font-weight: 600;
}

.online_dot,
.offline_dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #333;
    display: inline-block;
}

.online_dot {
    background-color: #18a558;
}

.offline_dot {
    background-color: #d63c45;
}

.p_time_bar {
    position: fixed;
    display: flex;
    top: 180px;
    left: 0%;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1002;
    background-color: #d63c45;
    color: white;
}

.p_time_bar h1 {
    font-size: 26px;
}

.unit_toggle {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    
}

.unit_toggle a {
    text-decoration: none;
    color: #333;
    padding: 8px 14px;
    border: 2px solid #d3cfcf;
    background: white;
    border-radius: 10px;
    color: black;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.unit_toggle a:hover {
    color: white;
    background: #005baa;
    transform: translateY(-3px)
}

.unit_toggle a.active_unit {
    background: #005baa;
    color: white;
    border-color: #005baa;
}

/* Static Img Cards */

.p_solar_img {
    object-fit: cover; 
    width: 150px; 
    height: 150px;
    flex-shrink: 0;
}

.p_solar_card {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    min-width: 420px;
}

.p_dash_text {
    flex: 1
}

.p_dash_text h1 {
    margin: 0 0 6px 0;
    font-size: 24px;
}

.p_station_card h1,
.p_station_card h3 {
    margin: 0;
}

.p_station_card h1 {
    margin-bottom: 8px;
}
.p_station_card h3 {
    margin-bottom: 18px;
}

.p_station_content {
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: flex-start;
}

/* Cards */

.p_station_card {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid #d3cfcf;
    background: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    padding: 20px 18px;
    gap: 28px;
    overflow: hidden;
}

.p_temp_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    width: fit-content
}

.thermo_widget {
    position: relative;
    width: 60px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
}

.thermo_tube {
    position: relative;
    width: 16px;
    height: 160px;
    border: 3px solid #333;
    border-radius: 20px;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: flex-end
}

.thermo_fill {
    width: 100%;
    background: linear-gradient(to top, #d63c45, #ff6b6b);
    border-radius: 0 0 14px 14px;
}

.thermo_bulb {
    width: 36px;
    height: 40px;
    border-radius: 50%;
    background: #d63c45;
    border: 3px solid #333;
    margin-top: -16px;
    z-index: 20;
}


.temp_text h1,
.temp_text h2 {
    margin: 0
}

.temp_text h2{
    margin-top: 12px
}

.pressure_card {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    width: fit-content;
}

.pressure_widget {
    width: 90px;
    height: 90px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.pressure_circle {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    border: 3px solid #333;
}

.pressure_needle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 4px;
    height: 42px;
    background: #d63c45;
    border-radius: 4px;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(deg);
    
}

.pressure_center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}

.tick_label {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.tick {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 3px;
    height: 12px;
    background: #333;
    border-radius: 2px;
    transform-origin: 50% 39px;
}

.tick_small {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 3px;
    height: 8px;
    background: #666;
    border-radius: 2px;
    transform-origin: 50% 39px;
}

.tick_label1 {
    left: -25px;
    bottom: 10px;
    transform: rotate(60deg);
}

.tick_label2 {
    left: 20px;
    top: -18px;
}

.tick_label3 {
    left: 70px;
    bottom: 10px;
    transform: rotate(-60deg)
}

.tick1 { transform: translateX(-50%) rotate(-120deg);}
.tick2 { transform: translateX(-50%) rotate(-60deg);}
.tick3 { transform: translateX(-50%) rotate(0deg);}
.tick4 { transform: translateX(-50%) rotate(60deg);}
.tick5 { transform: translateX(-50%) rotate(120deg);}

.wind_card {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    width: fit-content;
}

.wind_widget {
    width: 200px;
    height: 190px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.wind_compass {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: white;
    border: 3px solid #333;
    overflow: visible;
}

.wind_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-origin: 100% 50%;
}

.wind_arrow_tail {
    position: absolute;
    width: 48px;
    height: 12px;
    background: #14a8e5;
    top: 50%;
    left: 28px;
    border-radius: 10px;
    transform: translateY(-50%)
}

.wind_arrow_head {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 34px solid #13a8e5;
    border-radius: 8px;
    transform: translateY(-50%);
}

.wind_center {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.compass_label {
    position: absolute;
    font-size: 24px;
    font-weight: 800px;
    color: black;
}

.compass_label_s {
    position: absolute;
    font-size: 20px;
    font-weight: 700px;
    color: #444;
}

.north {
    top: -30px;
    left: 50%;
    transform: translateX(-50%)
}

.ne {
    top: -0px;
    right: -15px;
    transform: translateX(-50%)
}

.east {
    top: 50%;
    right: -19px;
    transform: TranslateY(-50%)
}

.se {
    bottom: -0px;
    right: -13px;
    transform: translateX(-50%)
}

.south {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%)
}

.sw {
    bottom: 0px;
    left: 8px;
    transform: translateX(-50%);
}

.west {
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}


.nw {
    top: -2px;
    left: 10px;
    transform: translateX(-50%) 
}

.wind_tick {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 3px;
    height: 24px;
    background: #333;
    border-radius: 2px;
    transform-origin: 50% 74px;
}

.wind_tick_s {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 3px;
    height: 18px;
    background: #666;
    border-radius: 2px;
    transform-origin: 50% 74px;
}

.wind_tick_ss {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 3px;
    height: 12px;
    background: #888;
    border-radius: 2px;
    transform-origin: 50% 74px;
}

.wind_tick_n { transform: translateX(-50%) rotate(0deg); }
.wind_tick_nne { transform: translateX(-50%) rotate(22.5deg); }
.wind_tick_ne { transform: translateX(-50%) rotate(45deg); }
.wind_tick_ene { transform: translateX(-50%) rotate(67.5deg); }

.wind_tick_e { transform: translateX(-50%) rotate(90deg); }
.wind_tick_ese { transform: translateX(-50%) rotate(112.5deg);}
.wind_tick_se { transform: translateX(-50%) rotate(135deg); }
.wind_tick_sse { transform: translateX(-50%) rotate(157.5deg); }

.wind_tick_south { transform: translateX(-50%) rotate(180deg); }
.wind_tick_ssw { transform: translateX(-50%) rotate(202.5deg); }
.wind_tick_sw { transform: translateX(-50%) rotate(225deg); }
.wind_tick_wsw { transform: translateX(-50%) rotate(247.5deg)}

.wind_tick_w { transform: translateX(-50%) rotate(270deg); }
.wind_tick_wnw { transform: translateX(-50%) rotate(292.5deg)}
.wind_tick_nw { transform: translateX(-50%) rotate(315deg)}
.wind_tick_nnw { transform: translateX(-50%) rotate(337.5deg)}

/* Owner Dashboard */
.toggle_button button{
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.toggle_button .maintenance_on {
    background-color: #d63c45;
}

.toggle_button .maintenance_on:hover {
    background-color: #b00020;
}

.toggle_button .maintenance_off {
    background-color: #2e7d32;
}

.toggle_button .maintenance_off:hover {
    background-color: #1b5e20;
}

.toggle_button button:hover {
    transform: translateY(-1px);
}

.toggle_button .button_text {
    font-size: 1.5rem;
    font-weight: 700;
}

.popup_overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup_box {
    background: white;
    padding: 24px;
    border-radius: 8px;
    min-width: 280px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.popup_close {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 16px;
    background: #005baa;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

/* 404 Page */

.error_page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

.error_page h1 {
    margin: 0;

}

.error_page a {
    background-color: #d63c45;
    display: inline-block;
    margin-top: 1px;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Login Page */

.login_page {
    padding-top: 180px;
    display: flex;
    justify-content: center;
}

.login_card {
    width: 400px;
    background: white;
    border: 3px solid #d9d9d9;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}

.login_card h1 {
    margin-top: 0;
    margin-bottom: 20px
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login_form input {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.login_form button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #d63c45;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.login_form button:hover {
    background-color: #b00020;
    transform: translateY(-1px)
}

.login_error {
    color: #b00020;
    font-weight: 600;
}